body{
  font-family: "tahoma", serif;
color:rgb(132, 0, 255);
background-color:rgb(248, 232, 0);
font-size:20px;
  
}

h1 {
    font-family: "Oswald", serif;
  font-size:50px;
  text-align: center;
}

 h2 {
font-family: "Tahoma", serif;;
font-size: 50px;
text-align: center;
}





