body{
 
color:rgb(88,0,170);
background-color:rgb(88, 0, 170);
font-size:20px;
  text-align: center;
text-shadow: 0px 0.5px 0 rgb(255, 0, 0);

}




h1 {
    font-family: "Bebas Neue", sans-serif;
  font-size:50px;
  text-align: center;
letter-spacing: 2px;
}


 h2 {
font-family: "Bebas Neue", sans-serif;
font-size: 40px;
text-align: center;
letter-spacing: 2px;
}


p {
font-size: 20px;
font-family: "Montserrat," sans-serif;
 text-align: left;
  line-height: 1.8;
font-family: "Montserrat," sans-serif;
 text-align: left;
  line-height: 1.8;
}
.rainbow-heading span {
  display: inline-block;  
  margin-right: 7px;    
  font-weight: bold;
  font-size: 48px;
}
.rainbow-heading span:nth-child(odd) {
  color: rgb(107, 2, 107);
}


.rainbow-heading span:nth-child(even) {
  color: rgb(223, 182, 0) ;





}