body{

  
color:rgb(132, 0, 255);
background-color:rgb(132, 0, 255);

  font-family: "Tahoma", serif;
color:rgb(255, 230, 0);
background-color:rgb(111, 0, 255);

font-size:20px;
  text-align: center;

}


h1 {
    font-family: "Tahoma", serif;
  font-size:50px;
  text-align: center;
text-shadow: 4px 4px 0 rgb(134, 1, 1)
}

 h2 {
font-family: "Tahoma", serif;;
font-size: 50px;
text-align: center;
text-shadow: 4px 4px 0 rgb(134, 1, 1)
}
p {

font-size: 20px;

  text-shadow: 8px 6px 4 rgb(146, 2, 2);
font-family: "Montserrat," sans-serif;
 text-align: left;
  line-height: 1.8;

  text-shadow: 5px 5px 3 rgb(146, 2, 2);
font-family: "Montserrat," sans-serif;
 text-align: left;
  line-height: 1.8;
}
.rainbow-heading span {
  display: inline-block;  
  margin-right: 7px;     
  font-weight: bold;
  font-size: 48px;
}
.rainbow-heading span:nth-child(odd) {
  color: rgb(107, 2, 107);
}

.rainbow-heading span:nth-child(even) {
  color: rgb(223, 182, 0)  ;


text-shadow: 4px 4px 0 rgb(146, 2, 2)



}




