body{
  font-family: "Tahoma", serif;
color:rgb(255, 230, 0);
background-color:rgb(111, 0, 255);
font-size:20px;
  text-align: center;

}


h1 {
    font-family: "Tahoma", serif;
  font-size:50px;
  text-align: center;
text-shadow: 4px 4px 0 rgb(134, 1, 1)
}

 h2 {
font-family: "Tahoma", serif;;
font-size: 50px;
text-align: center;
text-shadow: 4px 4px 0 rgb(134, 1, 1)
}
p {
text-shadow: 4px 4px 0 rgb(146, 2, 2)


}




