body{
  
color:rgb(111, 0, 255);
background-color:rgb(111, 0, 255);
font-size:20px;
  text-align: center;

}


h1 {
    font-family: "Bebas Neue", sans-serif;
  font-size:50px;
  text-align: center;
  text-shadow: 5px 5px 3 rgb(146, 2, 2);
letter-spacing: 2px;
}

 h2 {
font-family: "Bebas Neue", sans-serif;
font-size: 40px;
text-align: center;
text-shadow: 5px 5px 3 rgb(146, 2, 2);
letter-spacing: 2px;
}

p {
font-size: 20px;
  text-shadow: 8px 6px 4 rgb(146, 2, 2);
font-family: "Montserrat," sans-serif;
 text-align: left;
  line-height: 1.8;
}





