body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 230, 0);
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: rgb(132, 0, 255);
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color:rgb(146, 2, 2);
}







.container {
  display: flex;        
  flex-direction: column; 
  background-color: rgb(255, 230, 0);
  border-radius: 15px;
  padding: 20px;
  flex: 1;


}
section {
margin-bottom: 60px;



}
.active {
  border-bottom: 7px solid rgb(146, 2, 2);
  border-left:7px solid rgb(132, 0, 255);
  border-right: 7px solid rgb(223, 182, 0);
}

.divider {
  width: 100%;
  height: 5px;
  margin: 70px auto;
  background: linear-gradient(
    to right,
    rgb(146, 2, 2),
    rgb(255, 230, 0),
    rgb(146, 2, 2)
  );
  border-radius: 10px;
}
 

h3 {
text-align: center;
}

.card-image-container {
  display: flex;        
  gap: 40px;            
  align-items: flex-start;
  max-width: 900px;
  margin: 0 auto;
  padding: 100px;
}

.card {
   background-color: rgb(255, 230, 0);
  border-radius: 15px;
  padding: 75px;
  flex: 1;    
}





.page-center {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}
.section-layout {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
}
.image-side img {
  width: 520px;
  height: 400px;
  border-radius: 12px;
border-bottom: 7px solid rgb(146, 2, 2);
  border-left:7px solid rgb(223, 182, 0);
  border-right: 7px solid rgb(223, 182, 0);
  border-top: 7px solid rgb(132, 0, 255);

  object-fit: cover;
}

