body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffee00;
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: rgb(132, 0, 255);
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #5f0000;
}
